.carte{

  .carte__header{
    height: 25vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/img/pizza2.jpeg");
    background-position: center;
    margin-bottom: 50px;

    h1{
      color: white;
      position: absolute;
      top: 20vw;
      left: 8vw;
      font-size: 60px;
    }

    span{
      color: white;
      position: absolute;
      top: 26vw;
      left: 8vw;
      font-size: 25px;
    }
  }
  .carte__pizza{

    .carte__pizza__header{
      display: flex;
      padding-left: 8vw;
      padding-right: 8vw;
      justify-content: space-between;
      margin-bottom: 30px;

      .carte__pizza__header__right{
        display: flex;

        p{
          margin-left: 1vw;
          font-weight: bold;
        }

        .desc__40cm {
          margin-right: 0.5vw;
          margin-left: 2.5vw;
        }

      }
    }

    .carte__pizza__liste{
      display: flex;
      flex-direction: column;

      .pizza__ensemble{
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
        padding-left: 8vw;
        padding-right: 8vw;

        .pizza__description{
          color: #919191;
        }

        .pizza__name{
          color: #E81919;
          font-size: 20px;
          font-weight: 500;
        }

        .pizza__prix{
          display: flex;

          p{
            margin-left: 2vw ;
          }


        }

      }
    }



  }

  .carte__header__pasta{
    margin-top: 150px;
    height: 25vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/img/pasta1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 50px;

    h1{
      color: white;
      position: absolute;
      top: 257vw;
      left: 8vw;
      font-size: 60px;
    }

    span{
      color: white;
      position: absolute;
      top: 264vw;
      left: 8vw;
      font-size: 25px;
    }


  }

  .carte__pasta__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
    margin-bottom: 30px;
  }

  .carte__pasta__liste{
    display: flex;
    flex-direction: column;

    .pasta__ensemble{
      display: flex;
      margin-bottom: 30px;
      justify-content: space-between;
      padding-left: 8vw;
      padding-right: 8vw;

      .pizza__name{
        color: #008037;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
