<div class="acceuil">
  <div class="presentation">
    <h1>Bienvenue chez CASAMIA, la pizzeria incontournable de BETTON !</h1>
    <button class="btn1">A EMPORTER</button>
    <button class="btn2">RESERVER</button>
  </div>
  <div class="description">
    <p>
      Venez découvrir notre sélection de pizzas savoureuses et authentiques, élaborées avec passion et savoir-faire par nos pizzaiolos expérimentés.<br><br>

      Située au cœur de Betton, CASAMIA vous invite à partager un moment convivial et chaleureux dans un cadre moderne et agréable. Notre équipe dévouée et souriante est là pour vous assurer une expérience culinaire mémorable et pour répondre à toutes vos attentes.<br><br>

      Notre menu varié propose un large choix de pizzas traditionnelles et créatives, préparées à partir d'ingrédients frais et de qualité. Que vous soyez amateur de recettes classiques ou que vous ayez envie d'explorer de nouvelles saveurs, CASAMIA saura ravir vos papilles.<br><br>

      En plus de nos délicieuses pizzas, nous proposons également une sélection de salades fraîches, de pâtes savoureuses et de desserts gourmands pour satisfaire tous les goûts et toutes les envies. Et pour accompagner votre repas, découvrez notre carte des vins et de boissons soigneusement sélectionnées.<br><br>

      Chez CASAMIA, nous accordons une grande importance à la qualité de nos produits et à la satisfaction de nos clients. C'est pourquoi nous avons choisi de travailler exclusivement avec des fournisseurs locaux et de privilégier les ingrédients issus de l'agriculture biologique et raisonnée.<br><br>

      Vous pouvez déguster nos pizzas sur place, dans notre salle à l'atmosphère chaleureuse, ou bien les emporter pour les savourer chez vous. Nous assurons également un service de livraison rapide pour que vous puissiez profiter de nos délices où que vous soyez à Betton et ses environs.<br><br>

      N'attendez plus et venez partager un moment inoubliable chez CASAMIA, la pizzeria qui fait rimer plaisir et convivialité à Betton. Rendez-vous sur notre site pour consulter notre carte et passer votre commande en ligne, ou contactez-nous par téléphone pour réserver une table. A très bientôt chez CASAMIA !
    </p>
    <div class="description__images">
      <img src="assets/img/pizza5.jpeg">
      <img src="assets/img/pizza6.jpeg">
      <img src="assets/img/pizza3.jpeg">
    </div>
  </div>
</div>

